.prev,
.next,
.next-black,
.prev-black {
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    background-size: cover;
    @media (max-width: 768px) {
        width: 20px;
        height: auto;
    }
}

.prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    z-index: 1;
}

.next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.prev-black {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    z-index: 1;
}

.next-black {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
