.stages {
    padding: 80px 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-bottom: 110px;
    @media (max-width: 768px) {
        padding: 60px 0;
    }
}

.stages__wrapper {
    h2.main-title {
        text-align: center;
        margin-bottom: 40px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li,
        li.slick-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% / 4 - 80px);
            svg {
                margin-bottom: 30px;
            }
            p {
                text-transform: uppercase;
                font-size: 19px;
                text-align: center;
                line-height: 1.5;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }
}
